<div class="pricing-pricing23 thq-section-padding">
    <div class="pricing-max-width thq-section-max-width">
        <section id="about-us">
            <div class="pricing-section-title">
                <span class="pricing-text10 thq-body-small">{{ content1 }}</span>
                <p class="experience-text">{{ moreDetailsp1 }}</p>
                <p class="experience-text">{{ moreDetailsp2 }}</p>
                <p class="experience-text">{{ moreDetailsp3 }}</p>
                <p class="experience-text">{{ moreDetailsp4 }}</p>
                <p class="experience-text">{{ moreDetailsp5 }}</p>
                <p class="experience-text">{{ moreDetailsp6 }}</p>
                <p class="experience-text">{{ moreDetailsp7 }}</p>

                <div class="pricing-content">
                    <h2 class="pricing-text11 thq-heading-2">{{ heading1 }}</h2>
                    <p class="pricing-text12 thq-body-large">{{ content2 }}</p>
                </div>
            </div>
        </section>

        <section id="services">
            <div class="pricing-container1">
                <div class="pricing-column1 thq-card">
                    <div class="pricing-price10">
                        <div class="pricing-price11">
                            <p class="pricing-text17 thq-body-large">{{ residential }}</p>
                            <p class="thq-body-large">{{ residentialDesc }}</p>
                        </div>
                        <img [attr.alt]="residentialImageAlt" [attr.src]="residentialImage1" class="image-tile"/>
                        <img [attr.alt]="residentialImageAlt" [attr.src]="residentialImage2" class="image-tile"/>
                    </div>
                </div>

                <div class="pricing-column1 thq-card">
                    <div class="pricing-price10">
                        <div class="pricing-price11">
                            <p class="pricing-text17 thq-body-large">{{ commercial }}</p>
                            <p class="thq-body-large">{{ commercialDesc }}</p>
                        </div>
                        <img [attr.alt]="commercialImageAlt" [attr.src]="commercialImage1" class="image-tile"/>
                        <img [attr.alt]="commercialImageAlt" [attr.src]="commercialImage2" class="image-tile"/>
                    </div>
                </div>

                <div class="pricing-column1 thq-card">
                    <div class="pricing-price10">
                        <div class="pricing-price11">
                            <p class="pricing-text17 thq-body-large">{{ renovation }}</p>
                            <p class="thq-body-large">{{ residentialDesc }}</p>
                        </div>
                        <img [attr.alt]="residentialImageAlt" [attr.src]="renovationImage1" class="image-tile"/>
                        <img [attr.alt]="residentialImageAlt" [attr.src]="renovationImage2" class="image-tile"/>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
